<app-header></app-header>

    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="row">
            <div class="col-sm-12 col-md-6 mb-30" type="button" [routerLink]="'/etablissement/liste'">
                <div class="card card-box text-center">
                    <div class="card-body">
                        <img class="card-img-top" src="/assets/Images/etab_toufoula.png" style="height: 200px;width: 200px;">
                        <br><br>
                        <h2 >مؤسسات الطفولة</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-30" type="button" [routerLink]="'/signalisation/add'">
                <div class="card card-box text-center">
                    <div class="card-body">
                        <img class="card-img-top" src="/assets/Images/signalement.png" style="height: 200px;width: 200px;">
                        <br><br>
                        <h2 >اشعار</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
